.workspace/*
postgresql/data/*
flowise/data/*
chroma/data/*
chroma/logs/*
chroma/config/*
chroma/logs/*
qdrant/*
.DS_Store
nginx/.DS_Store
postgresql/.DS_Store
postgresql/data/.DS_Store
qdrant/.DS_Store
chroma/.DS_Store
flowise/.DS_Store
flowise/logs/server-error.log
flowise/logs/server-requests.log.jsonl
flowise/logs/server.log
.DS_Store
